<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE PRODUCTO</a>
</nav>

<div class="agregar_contenedor">
<div class="row mt-5">
<div class="card">
    <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
                  <input type="text"  readonly="readonly"  [(ngModel)]="user.num_prod" name="num_prod" placeholder="No" class="form-control" required hidden>
                  </div>                  

              <div class="form-group">
                  <label for="" class="control-label">ID Empresa</label>
                  <input type="number"  [(ngModel)]="user.idempresa"  name="idempresa" placeholder="ID EMPRESA"  class="form-control" autofocus>
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Sucursal</label>
                <input type="number"  [(ngModel)]="user.idsuc"  name="idsuc" placeholder="ID SUCURSAL"  class="form-control" autofocus>
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Tipo Producto</label>
                <input type="number"  [(ngModel)]="user.idtpprod"  name="idtpprod" placeholder="ID TIPO"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Descripcion</label>
                <input type="text"  [(ngModel)]="user.descripcion"  name="descripcion" placeholder="DESCRIPCION"  class="form-control" autofocus>
                <div ng-show="!user.descripcion && formulario.$submitted" class="alert alert-warning">Digite la Descripcion</div>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Presentacion</label>
                <input type="text"  [(ngModel)]="user.presentacion"  name="presentacion" placeholder="PRESENTACION"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Marca</label>
                <input type="text"  [(ngModel)]="user.marca"  name="marca" placeholder="MARCA"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Valor</label>
                <input type="number"  [(ngModel)]="user.valor"  name="valor" placeholder="0.00"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Precio Venta</label>
                <input type="number"  [(ngModel)]="user.precioventa"  name="precioventa" placeholder="0.00"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Existencia</label>
                <input type="number"  [(ngModel)]="user.existencia"  name="existencia" placeholder="CANTIDAD"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Fecha Ingreso</label>
                <input type="date"  [(ngModel)]="user.fecha_ingreso"  name="fecha_ingreso" class="form-control">
            </div>

            <div class="form-group">
    <label class="control-label">Empresa</label>
    <select class="form-control" [(ngModel)]="$any(user).idempresa" name="idempresa">
        <option *ngFor="let e of Empresalist" [value]="e.idempresa">{{e.nombre}}</option>
    </select>
</div>

<div class="form-group">
    <label class="control-label">Sucursal</label>
    <select class="form-control" [(ngModel)]="$any(user).idsuc" name="idsuc">
        <option *ngFor="let s of Sucursallist" [value]="s.idsuc">{{s.sucursal}}</option>
    </select>
</div>

<div class="form-group">
    <label class="control-label">Tipo Producto</label>
    <select class="form-control" [(ngModel)]="$any(user).idtpprod" name="idtpprod">
        <option *ngFor="let tp of Tpprodlist" [value]="tp.idtpprod">{{tp.tipo}}</option>
    </select>
</div>



          <button type="submit" class="btn btn-primary" formnovalidate value="Save"  onclick="javascript:alert('Registro Almacenado')">
              Agregar
          </button>
        </form>
    </div>
</div>
</div>
<br>
<div class="container">  
    <div class="row mt-25">          
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ID EMPRESA</th>
                    <th>ID SUCURSAL</th>
                    <th>ID TIPO PRODUCTO</th>
                    <th>DESCRIPCION</th>
                    <th>PRESENTACION</th>
                    <th>MARCA</th>
                    <th>VALOR</th>
                    <th>PRECIO VENTA</th>
                    <th>EXISTENCIA</th>
                    <th>FECHA INGRESO</th>
                    <th>FECHA ACTUALIZA</th>
                    <th>ESTADO</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.num_prod}}</td>
                    <td>{{User.idempresa}}</td>
                    <td>{{User.idsuc}}</td>
                    <td>{{User.idtpprod}}</td>
                    <td>{{User.descripcion}}</td>
                    <td>{{User.presentacion}}</td>
                    <td>{{User.marca}}</td>
                    <td>{{User.valor}}</td>
                    <td>{{User.precioventa}}</td>
                    <td>{{User.existencia}}</td>
                    <td>{{User.fecha_ingreso}}</td>
                    <td>{{User.fecha_actualiza}}</td>
                    <td>{{User.estado}}</td>
                    <td> <button class="btn btn-danger" (click)="EliminarData(User.num_prod)" onclick="javascript:alert('Registro Eliminado')">Eliminar</button> </td>
<td>
    <button class="btn btn-success" [routerLink]="['/producto/edit', User.num_prod]">
        Actualizar
    </button>
</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>