<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">TIPOS DE USUARIO</a>
</nav>

<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" readonly="readonly" [(ngModel)]="user.idtpusuario" name="idtpusuario" class="form-control" required hidden>
        </div>
        <div class="form-group">
          <label class="control-label">ID Empresa</label>
          <input type="number" [(ngModel)]="user.idempresa" name="idempresa" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Tipo Usuario</label>
          <input type="text" [(ngModel)]="user.tipo" name="tipo" placeholder="DIGITE EL TIPO" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (click)="updateUser()" onclick="javascript:alert('Registro Actualizado')">Actualizar</button>
      </form>
    </div>
  </div>
</div>