<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE AREAS DE TRABAJO</a>
</nav>

<div class="container">  
    <div class="row mt-25">          
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ID EMPRESA</th>
                    <th>ID SUCURSAL</th>
                    <th>AREA</th>
                    <th>FECHA CREACION</th>
                    <th>ESTADO</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.idarea}}</td>
                    <td>{{User.idempresa}}</td>
                    <td>{{User.idsuc}}</td>
                    <td>{{User.area}}</td>
                    <td>{{User.fecha_creacion}}</td>
                    <td>{{User.estado}}</td>
                    <td><button class="btn btn-danger">Eliminar</button></td>
                    <td><button class="btn btn-success">Actualizar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>