<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE EMPLEADOS</a>
</nav>

<div class="agregar_contenedor">
<div class="row mt-5">
<div class="card">
    <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
                  <input type="text"  readonly="readonly"  [(ngModel)]="user.idemp" name="idemp" placeholder="No" class="form-control" required hidden>
                  </div>                  

              <div class="form-group">
                  <label for="" class="control-label">ID Empresa</label>
                  <input type="number"  [(ngModel)]="user.idempresa"  name="idempresa" placeholder="ID EMPRESA"  class="form-control" autofocus>
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Sucursal</label>
                <input type="number"  [(ngModel)]="user.idsuc"  name="idsuc" placeholder="ID SUCURSAL"  class="form-control" autofocus>
              </div>
              <div class="form-group">
                <label for="" class="control-label">ID Area</label>
                <input type="number"  [(ngModel)]="user.idarea"  name="idarea" placeholder="ID AREA"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Identidad</label>
                <input type="text"  [(ngModel)]="user.identidad"  name="identidad" placeholder="DIGITE IDENTIDAD"  class="form-control" autofocus>
              </div>
              
              <div class="form-group">
                <label for="" class="control-label">Fecha Nacimiento</label>
                <input type="date"  [(ngModel)]="user.fecha_nac"  name="fecha_nac" class="form-control">
            </div>

            <div class="form-group">
                <label for="" class="control-label">Nombres</label>
                <input type="text"  [(ngModel)]="user.nombres"  name="nombres" placeholder="DIGITE NOMBRES"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Apellidos</label>
                <input type="text"  [(ngModel)]="user.apellidos"  name="apellidos" placeholder="DIGITE APELLIDOS"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Sexo</label>
                <input type="text"  [(ngModel)]="user.sexo"  name="sexo" placeholder="M / F"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Estado Civil</label>
                <input type="text"  [(ngModel)]="user.estado_civil"  name="estado_civil" placeholder="ESTADO CIVIL"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Direccion</label>
                <input type="text"  [(ngModel)]="user.direccion"  name="direccion" placeholder="DIRECCION"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Fecha Creacion</label>
                <input type="date"  [(ngModel)]="user.fecha_creacion"  name="fecha_creacion" class="form-control">
            </div>

            <div class="form-group">
    <label>Empresa</label>
    <select class="form-control" [(ngModel)]="$any(user).idempresa" name="idempresa" required>
        <option *ngFor="let lista of Empresalist" [value]="lista.idempresa">{{lista.nombre}}</option>
    </select>
</div>

<div class="form-group">
    <label>Sucursal</label>
    <select class="form-control" [(ngModel)]="$any(user).idsuc" name="idsuc" required>
        <option *ngFor="let s of Sucursallist" [value]="s.idsuc">{{s.sucursal}}</option>
    </select>
</div>

<div class="form-group">
    <label>Área de Trabajo</label>
    <select class="form-control" [(ngModel)]="$any(user).idarea" name="idarea" required>
        <option *ngFor="let a of Arealist" [value]="a.idarea">{{a.area}}</option>
    </select>
</div>


          <button type="submit" class="btn btn-primary" formnovalidate value="Save"  onclick="javascript:alert('Registro Almacenado')">
              Agregar
          </button>
        </form>
    </div>
</div>
</div>
<br>
<div class="container">  
    <div class="row mt-25">          
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>ID EMPRESA</th>
                    <th>ID SUCURSAL</th>
                    <th>ID AREA</th>
                    <th>IDENTIDAD</th>
                    <th>FECHA NACIMIENTO</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>SEXO</th>
                    <th>ESTADO CIVIL</th>
                    <th>DIRECCION</th>
                    <th>FECHA CREACION</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let User of TUser">
                    <td>{{User.idemp}}</td>
                    <td>{{User.idempresa}}</td>
                    <td>{{User.idsuc}}</td>
                    <td>{{User.idarea}}</td>
                    <td>{{User.identidad}}</td>
                    <td>{{User.fecha_nac}}</td>
                    <td>{{User.nombres}}</td>
                    <td>{{User.apellidos}}</td>
                    <td>{{User.sexo}}</td>
                    <td>{{User.estado_civil}}</td>
                    <td>{{User.direccion}}</td>
                    <td>{{User.fecha_creacion}}</td>
                    <td> <button class="btn btn-danger" (click)="EliminarData(User.idemp)" onclick="javascript:alert('Registro Eliminado')">Eliminar</button> </td>
<td>
    <button class="btn btn-success" [routerLink]="['/empleados/edit', User.idemp]">
        Actualizar
    </button>
</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>